---
- name: Download
  block:
    - name: Get install archive
      ansible.builtin.get_url:
        url: "https://github.com/{{ opkssh_github_repo }}/releases/download/v{{ opkssh_version }}/opkssh-linux-{{ opkssh_arch }}"
        dest: "{{ opkssh_install_dir }}/opkssh"
        mode: "0755"
        owner: root
        # group: "{{ opkssh_user }}"
        checksum: "{{ opkssh_checksum | default(omit) }}"
      environment: "{{ proxy_env | default(omit) }}"
  rescue:
    - name: Get install archive - orchestrator
      ansible.builtin.get_url:
        url: "https://github.com/{{ opkssh_github_repo }}/releases/download/v{{ opkssh_version }}/opkssh-linux-{{ opkssh_arch }}"
        dest: "/tmp/opkssh"
        mode: "0755"
        checksum: "{{ opkssh_checksum | default(omit) }}"
      environment: "{{ proxy_env_orchestrator | default(omit) }}"
      delegate_to: localhost
    - name: Copy install archive
      ansible.builtin.copy:
        src: "/tmp/opkssh"
        dest: "{{ opkssh_install_dir }}/opkssh"
        mode: "0755"
        user: root
        # group: "{{ opkssh_user }}"
