---
- name: Compiling semodule
  ansible.builtin.command: # noqa no-changed-when
    cmd: checkmodule -M -m -o "/tmp/opkssh.mod" "/tmp/opkssh.te"

- name: Packaging semodule
  ansible.builtin.command: # noqa no-changed-when
    cmd: semodule_package -o "/tmp/opkssh.pp" -m "/tmp/opkssh.mod"

- name: Installing semodule
  ansible.builtin.command: # noqa no-changed-when
    cmd: semodule -i "/tmp/opkssh.pp"

- name: Restart sshd
  ansible.builtin.service:
    name: "{{ ssh_svc }}"
    state: restarted
  when:
    - not is_container | bool
